{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'main/style.css' %}">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="{% static 'main/dropHandler.js' %}"></script>
</head>
<body class="grad">
    <div>
        <h2 class="tutorial">JunctionX2020 Seoul</h2>
        <h2 class="tutorial">team BUDUSHIE ZADRY</h2>
    </div>
    
    <div class="frame" ondragover="dragOverHandler(event)">
        <div class="center">
            <div class="title">
                <h1>Drop file to upload</h1>
            </div>

            <form method="post" action="/main/" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="dropzone">
                    <img src="http://100dayscss.com/codepen/upload.svg" class="upload-icon" />
                    {{ form.docfile }}
<!--                    <input type="file" class="upload-input" accept=".mp3,audio/*" onchange="selectedFileHandler()"/>-->
                </div>
                <input type="submit" class="btn" name="uploadbutton"/>
            </form>
        </div>
    </div>
    <!-- original pen: https://codepen.io/roydigerhund/pen/ZQdbeN  -->
    <!-- NO JS ADDED YET -->
     
</body>
</html>
