{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'main/style2.css' %}">
<!--
<link rel="stylesheet"  href="C:\Users\asus\Documents\GitHub\junctionX2020\musicConv\main\static\main\style.css">
-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="{% static 'main/dropHandler.js' %}"></script>
    <!--<script src="C:\Users\asus\Documents\GitHub\junctionX2020\musicConv\main\static\main\dropHandler.js"></script>-->
</head>
<body class="grad">
    <div>
        <h2 class="tutorial">Music Sheet:</h2>
    </div>
    
    <div class="square">
        <img src="{% static 'main/note.png' %}" width=557 height=684 alt="Corrupted MIDI file">
    </div>

    <div class="container-audio">
        <div class="colum1">
            <div class="row"></div>
        </div>
        <div class="colum1">
            <div class="row"></div>
        </div>
        <div class="colum1">
            <div class="row"></div>
        </div>
        <div class="colum1">
            <div class="row"></div>
        </div>
        <div class="colum1">
            <div class="row"></div>
        </div>
        <div class="colum1">
            <div class="row"></div>
        </div>
        <div class="colum1">
            <div class="row"></div>
        </div>
        <div class="colum1">
            <div class="row"></div>
        </div>
        <div class="colum1">
            <div class="row"></div>
        </div>
        <div class="colum1">
            <div class="row"></div>
        </div>
        <div class="colum1">
            <div class="row"></div>
        </div>
        <div class="colum1">
            <div class="row"></div>
        </div>
        <div class="colum1">
            <div class="row"></div>
        </div>
        <div class="colum1">
            <div class="row"></div>
        </div>
        <div class="colum1">
            <div class="row"></div>
        </div>
        <div class="colum1">
            <div class="row"></div>
        </div>
        <div class="colum1">
            <div class="row"></div>
        </div>
        <div class="colum1">
            <div class="row"></div>
        </div>
        <div class="colum1">
            <div class="row"></div>
        </div>
        <div class="colum1">
            <div class="row"></div>
        </div>
        <div class="colum1">
            <div class="row"></div>
        </div>
        <div class="colum1">
            <div class="row"></div>
        </div>
        <div class="colum1">
            <div class="row"></div>
        </div>
    </div>

    <p class=tut_text>
        Piano:
    </p>
    <div class="container-audio">
        <audio controls  loop>
                   <source src="{% static 'main/Pirates_piano.mp3' %}" type="audio/ogg">
                   Your browser does not Support the audio Tag
               </audio>
    </div>


<!--    <div class="forAudio">-->
<!--        <audio controls>-->
<!--            <source src="{% static 'main/sound.mp3' %}">-->
<!--        </audio>-->
<!--    </div>-->
    <p class=tut_text>
        Guitar:
    </p>
    <div class="container-audio">
        <audio controls  loop>
                   <source src="{% static 'main/pirats_guitar.mp3' %}" type="audio/ogg">
                   Your browser dose not Support the audio Tag
               </audio>
    </div>

    <p class=tut_text>
        Violin:
    </p>

    <div class="container-audio">
        <audio controls  loop>
                   <source src="{% static 'main/pirats_violin.mp3' %}" type="audio/ogg">
                   Your browser dose not Support the audio Tag
               </audio>
    </div>

    <!--    <div class="forAudio">-->
<!--        <audio controls>-->
<!--            <source src="{% static 'main/sound.mp3' %}">-->
<!--        </audio>-->
<!--    </div>-->
<!--    <div>-->

    <!-- original pen: https://codepen.io/roydigerhund/pen/ZQdbeN  -->
    <!-- NO JS ADDED YET -->
     
</body>
</html>
